.CodeBlockNameCard {
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  width: 200px;
  height: 70px;
  display: inline-flex;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

/* .CodeBlockNameCard:hover {

} */
